.main_container{
    margin-top: 70px;
}

.guess_container{
    margin: auto;
    width: 270px;
    margin-bottom: 10px;
}

.guess_container .col{
    border: 2px solid rgb(211,214,218);
    margin: 4px;
    height: 50px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}

.keyboard_container{
    margin: auto;
    width: 487px;
    text-align: center;
}

.keyboard_container .row button{
    display: inline-block;
    width: 45px;
    height: 60px;
    background-color: rgb(211,214,218);
    color: black;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    margin: 3px;
    align-items: center;
}

.keyboard_container .row .big{
    width: 70px;
    font-size: 15px;
    align-items: center;
}

.row2{
    margin-left: 12px !important;
}

.active_container{
    border: 2px solid black !important;
}

.toast{
    margin-top: 10px !important;
    background-color: black;
    background-image: none !important;
}

.keyboard_correct_pos{
    background-color: rgb(68, 194, 101) !important;
    color: white !important;
}

.keyboard_correct_char{
    background-color: rgb(201,180,88) !important;
    color: white !important;
}

.keyboard_wrong_char{
    background-color: rgb(120,124,126) !important;
    color: white !important;
}

.correct_pos{
    --background: rgb(68, 194, 101) !important;
    --border-color: rgb(68, 194, 101);
    animation: flipvertical 0.5s ease forwards;
}

.correct_char{
    --background: rgb(201,180,88) !important;
    --border-color: rgb(201,180,88);
    animation: flipvertical 0.5s ease forwards;
}

.wrong_char{
    --background: rgb(120,124,126) !important;
    --border-color: rgb(120,124,126);
    animation: flipvertical 0.5s ease forwards;
}

.guess_container .row > :nth-child(2){
    animation-delay: 0.2s;
}

.guess_container .row > :nth-child(3){
    animation-delay: 0.4s;
}

.guess_container .row > :nth-child(4){
    animation-delay: 0.6s;
}

.guess_container .row > :nth-child(5){
    animation-delay: 0.8s;
}
  
@keyframes flipvertical {
    0% {
        transform: rotateX(0); 
        background: white;
    }

    45% {
        transform: rotateX(90deg);
        background-color: white;
    }

    55% {
        transform: rotateX(90deg);
        border-color: var(--border-color);
        color: white;
        background-color: var(--background);
    }

    100% {
        transform: rotateX(0);
        border-color: var(--border-color);
        color: white;
        background-color: var(--background);
    }
}